Content/InfinityBladeEffects
Content/InfinityBladeGrasslands
Content/InfinityBladeWarriors
Content/StarterContent







Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace